@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/image1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to the World of Data Science and AI.
                    <a class="btn btn-default" href="https://www.datasciencecentral.com"> ClickMe</a>
                </p>

                <p>
                    Hello to Data Science World!
                </p>
            </div>
        </div>
        <div class="item">



        </div>
    </div>
</div>
