@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="carousel-inner" role="listbox">
        <div class=" media-middle">
            @ViewBag.Welcome to Employee Name portal
        </div>
        <div>
           <table>
               <tr>
                   <th>Id</th>
                   <th>Name</th>
                   <th>Job</th>
               </tr>
           </table>
        </div>
    </div>
</div>
